@font-face {
	font-family:CraftGothic-Regular;
	src: url("../../public/fonts/CraftGothic-Regular.otf") format("opentype"),
	url('../../public/fonts/CraftGothic-Regular.ttf')  format('truetype');
}

@font-face {
	font-family:CraftGothic-Demi;
	src: url("../../public/fonts/CraftGothic-Demi.otf") format("opentype"),
	url('../../public/fonts/CraftGothic-Demi.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:CraftGothic-Bold;
	src: url("../../public/fonts/CraftGothic-Bold.otf") format("opentype"),
	url('../../public/fonts/CraftGothic-Bold.ttf')  format('truetype');
}