	$blink_font_size :55px;
	$blink_font_size_lg :55px;
	$blink_font_size_md :45px;
	$blink_font_size_sm :55px;
	$blink_font_size_xs :45px;

	.module2 {
		background-color:#a9bfcf;
		height: 725px;

		@media screen and (max-width: 991px) {
			padding-top: 50px;
			height: 100%;
		}

		.copybox-container {
			z-index: 3;
			background-color:transparent;
			.copybox-parent {
				.copybox-child {
					width:100%;

					.title {
						h2 {
							color:#fff;
						}
					}
					p {
						color:#fff;
					}
				}
			}
		}

		.hand-bg-container {
			z-index: 2;
			width: 100%;
			position: absolute;
			img {
				top: 0px;
				left: 0px;
				width: 105%;
				height: 100%;
				object-fit: cover;
				object-position: -50px center;
				opacity: 1;
				transition: opacity 500ms ease 0s;



				@media screen and (max-width: 991px)
				{
					object-fit: contain;
					object-position: center center;
					width: 100%;
				}

				@media screen and (max-width: 768px)
				{
					object-fit: contain;
					object-position: -80px 60px;
					width: 130%;
				}

			}

			.parent-wrapper {
				display: block;
			}

			.image-wrapper {
				position: relative;
				height: 725px;
				overflow: hidden;
			}



		}

		.word-animator {

			div {
				margin-bottom:20px;
			}
			.phase1 {
				-webkit-letter-spacing: 0;
				-moz-letter-spacing: 0;
				-ms-letter-spacing: 0;
				letter-spacing: 0;
				font-weight: 400;
				margin-bottom: 16px;
				margin-top: 0;
				display: block;
				-webkit-text-stroke-color: currentcolor;
				-webkit-text-stroke-width: 1px;
				-webkit-text-fill-color: transparent;
				font-size: 40px;
				line-height: 1.1;
				font-weight: 900;
				-webkit-letter-spacing: -0.5px;
				-moz-letter-spacing: -0.5px;
				-ms-letter-spacing: -0.5px;
				letter-spacing: -0.5px;
				font-size: 61px;
				line-height: 0.7;
				color: #E43C2F;
				-webkit-text-stroke-width: 2px;
				opacity: 0;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				-webkit-animation: animation-1 ease-out 1s alternate infinite;
				animation: animation-1 ease-out 1s alternate infinite;
				margin-bottom: 0;
				-webkit-animation-delay: 0.2s;
				animation-delay: 0.2s;


				@media screen and (max-width: 991px)
				{
					text-align:center;
				}

				@media screen and (min-width: 768px)
				{
					font-size: $blink_font_size_md;
				}

				@media screen and (min-width: 1200px)
				{
					font-size: $blink_font_size_lg;
				}

			}



			@keyframes animation-1 {
				0% {
					opacity: 1;
				}
				0.001% {
					opacity: 0;
				}

				50% {
					opacity: 0;
				}
				50.001% {
					opacity: 1;
				}
				100% {
					opacity: 1;
				}
			}

		}


		.phase2 {
			-webkit-letter-spacing: 0;
			-moz-letter-spacing: 0;
			-ms-letter-spacing: 0;
			letter-spacing: 0;
			font-weight: 400;
			margin-top: 15px;
			display: block;
			-webkit-text-stroke-color: currentcolor;
			-webkit-text-stroke-width: 1px;
			font-size: 40px;
			line-height: 1.1;
			font-weight: 900;
			-webkit-letter-spacing: -0.5px;
			-moz-letter-spacing: -0.5px;
			-ms-letter-spacing: -0.5px;
			letter-spacing: -0.5px;
			font-size: 61px;
			line-height: 0.7;
			color: #E43C2F;
			-webkit-text-stroke-width: 2px;
			opacity: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-animation: animation-2 ease-out 1s alternate infinite;
			animation: animation-2 ease-out 1s alternate infinite;
			margin-bottom: 0;
			-webkit-animation-delay: 0.4s;
			animation-delay: 0.4s;

			@media screen and (max-width: 991px)
			{
				text-align:center;
			}

			@media screen and (min-width: 768px)
			{
				font-size: $blink_font_size_md;
			}

			@media screen and (min-width: 1200px)
			{
				font-size: $blink_font_size_lg;
			}
		}

		@keyframes animation-2 {
			0% {
				opacity: 1;
			}
			0.001% {
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			50.001% {
				opacity: 1;
			}
			100% {
				opacity: 1;
			}
		}



		.phase3 {
			-webkit-letter-spacing: 0;
			-moz-letter-spacing: 0;
			-ms-letter-spacing: 0;
			letter-spacing: 0;
			font-weight: 400;
			margin-bottom: 16px;
			margin-top: 0;
			display: block;
			-webkit-text-stroke-color: currentcolor;
			-webkit-text-stroke-width: 1px;
			-webkit-text-fill-color:transparent;
			font-size: 40px;
			line-height: 1.1;
			font-weight: 900;
			-webkit-letter-spacing: -0.5px;
			-moz-letter-spacing: -0.5px;
			-ms-letter-spacing: -0.5px;
			letter-spacing: -0.5px;
			font-size: 61px;
			line-height: 0.7;
			color: #E43C2F;
			-webkit-text-stroke-width: 2px;
			opacity: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-animation: animation-3 ease-out 1s alternate infinite;
			animation: animation-3 ease-out 1s alternate infinite;
			margin-bottom: 0;
			-webkit-animation-delay: 0.6s;
			animation-delay: 0.6s;

			@media screen and (max-width: 991px)
			{
				text-align:center;
			}

			@media screen and (min-width: 768px)
			{
				font-size: $blink_font_size_md;
			}

			@media screen and (min-width: 1200px)
			{
				font-size: $blink_font_size_lg;
			}
		}

		@keyframes animation-3 {
			0% {
				opacity: 1;
			}
			0.001% {
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			50.001% {
				opacity: 1;
			}
			100% {
				opacity: 1;
			}
		}


		.phase4 {
			-webkit-letter-spacing: 0;
			-moz-letter-spacing: 0;
			-ms-letter-spacing: 0;
			letter-spacing: 0;
			font-weight: 400;
			margin-bottom: 16px;
			margin-top: 0;
			display: block;
			-webkit-text-stroke-color: currentcolor;
			-webkit-text-stroke-width: 1px;
			-webkit-text-fill-color:transparent;
			font-size: 40px;
			line-height: 1.1;
			font-weight: 900;
			-webkit-letter-spacing: -0.5px;
			-moz-letter-spacing: -0.5px;
			-ms-letter-spacing: -0.5px;
			letter-spacing: -0.5px;
			font-size: 61px;
			line-height: 0.7;
			color: #E43C2F;
			-webkit-text-stroke-width: 2px;
			opacity: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-animation: animation-4 ease-out 1s alternate infinite;
			animation: animation-4 ease-out 1s alternate infinite;
			margin-bottom: 0;
			-webkit-animation-delay: 0.8s;
			animation-delay: 0.8s;

			@media screen and (max-width: 991px)
			{
				text-align:center;
			}

			@media screen and (min-width: 768px)
			{
				font-size: $blink_font_size_md;
			}

			@media screen and (min-width: 1200px)
			{
				font-size: $blink_font_size_lg;
			}
		}

		@keyframes animation-4 {
			0% {
				opacity: 1;
			}
			0.001% {
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			50.001% {
				opacity: 1;
			}
			100% {
				opacity: 1;
			}
		}



		.phase5 {
			-webkit-letter-spacing: 0;
			-moz-letter-spacing: 0;
			-ms-letter-spacing: 0;
			letter-spacing: 0;
			font-weight: 400;
			margin-bottom: 16px;
			margin-top: 0;
			display: block;
			-webkit-text-stroke-color: currentcolor;
			-webkit-text-stroke-width: 1px;
			-webkit-text-fill-color:transparent;
			font-size: 40px;
			line-height: 1.1;
			font-weight: 900;
			-webkit-letter-spacing: -0.5px;
			-moz-letter-spacing: -0.5px;
			-ms-letter-spacing: -0.5px;
			letter-spacing: -0.5px;
			font-size: 61px;
			line-height: 0.7;
			color: #E43C2F;
			-webkit-text-stroke-width: 2px;
			opacity: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-animation: animation-5 ease-out 1s alternate infinite;
			animation: animation-5 ease-out 1s alternate infinite;
			margin-bottom: 0;
			-webkit-animation-delay: 0.6s;
			animation-delay: 0.6s;

			@media screen and (max-width: 991px)
			{
				text-align:center;
			}

			@media screen and (min-width: 768px)
			{
				font-size: $blink_font_size_md;
			}

			@media screen and (min-width: 1200px)
			{
				font-size: $blink_font_size_lg;
			}
		}

		@keyframes animation-5 {
			0% {
				opacity: 1;
			}
			0.001% {
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			50.001% {
				opacity: 1;
			}
			100% {
				opacity: 1;
			}
		}



		.phase6 {
			-webkit-letter-spacing: 0;
			-moz-letter-spacing: 0;
			-ms-letter-spacing: 0;
			letter-spacing: 0;
			font-weight: 400;
			margin-bottom: 16px;
			margin-top: 0;
			display: block;
			-webkit-text-stroke-color: currentcolor;
			-webkit-text-stroke-width: 1px;
			-webkit-text-fill-color:transparent;
			font-size: 40px;
			line-height: 1.1;
			font-weight: 900;
			-webkit-letter-spacing: -0.5px;
			-moz-letter-spacing: -0.5px;
			-ms-letter-spacing: -0.5px;
			letter-spacing: -0.5px;
			font-size: 61px;
			line-height: 0.7;
			color: #E43C2F;
			-webkit-text-stroke-width: 2px;
			opacity: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-animation: animation-6 ease-out 1s alternate infinite;
			animation: animation-6 ease-out 1s alternate infinite;
			margin-bottom: 0;
			-webkit-animation-delay: 0.4s;
			animation-delay: 0.4s;

			@media screen and (max-width: 991px)
			{
				text-align:center;
			}

			@media screen and (min-width: 768px)
			{
				font-size: $blink_font_size_md;
			}

			@media screen and (min-width: 1200px)
			{
				font-size: $blink_font_size_lg;
			}
		}

		@keyframes animation-6 {
			0% {
				opacity: 1;
			}
			0.001% {
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			50.001% {
				opacity: 1;
			}
			100% {
				opacity: 1;
			}
		}


		.phase7 {
			-webkit-letter-spacing: 0;
			-moz-letter-spacing: 0;
			-ms-letter-spacing: 0;
			letter-spacing: 0;
			font-weight: 400;
			margin-bottom: 16px;
			margin-top: 0;
			display: block;
			-webkit-text-stroke-color: currentcolor;
			-webkit-text-stroke-width: 1px;
			-webkit-text-fill-color:transparent;
			font-size: 40px;
			line-height: 1.1;
			font-weight: 900;
			-webkit-letter-spacing: -0.5px;
			-moz-letter-spacing: -0.5px;
			-ms-letter-spacing: -0.5px;
			letter-spacing: -0.5px;
			font-size: 61px;
			line-height: 0.7;
			color: #E43C2F;
			-webkit-text-stroke-width: 2px;
			opacity: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-animation: animation-7 ease-out 1s alternate infinite;
			animation: animation-7 ease-out 1s alternate infinite;
			margin-bottom: 0;
			-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s;

			@media screen and (max-width: 991px)
			{
				text-align:center;
			}

			@media screen and (min-width: 768px)
			{
				font-size: $blink_font_size_md;
			}

			@media screen and (min-width: 1200px)
			{
				font-size: $blink_font_size_lg;
			}
		}

		@keyframes animation-7 {
			0% {
				opacity: 1;
			}
			0.001% {
				opacity: 0;
			}
			50% {
				opacity: 0;
			}
			50.001% {
				opacity: 1;
			}
			100% {
				opacity: 1;
			}
		}

	}