.module6 {


	.review-box-cta {
		text-align: center;
		margin-top: 30px;

		.open_account_btn {
			background-color:#2e5ca9 !important;
			a {
				color:#fff !important;
			}
		}
		
	}

	.e-bg-letter {
		position: absolute;
    margin-left: -70px;
    margin-top: -120px;

		@media screen and (max-width:768px) {
			display: none;
		}
	}


	.t-bg-letter {
		position: absolute;
    right: 150px;
    bottom: -120px;
   
		@media screen and (max-width:768px) {
			display: none;
		}
	}


	padding-top: 100px;
	padding-bottom: 80px;


	@media screen and (max-width:414px) {
		padding-top: 40px;
	}


	.review-container {
		position: relative;
		margin-top: 60px;
		z-index: 1;

		@media screen and  (max-width: 414px) {
			margin-top: 0px;

			.row {
				margin-bottom: 0px;
				.col-12 {
					margin-top: 20px;
				}
			}
		}

		.row {
			margin-bottom: 20px;
		}

		.review-box {
			margin-top: 0px;

			padding: 30px;
			border-radius: 8px;
			box-shadow: rgba(0, 0, 0, 0.1) 3px 6px 15px 0px;
			box-sizing: border-box;
			outline: none;
			background:rgb(255, 255, 255);
			height: 250px;

			.star {

				.faded-star {
					opacity: .3;
				}

				i {
					margin-right: 10px;
					color: #ef8a77;
				}
				
			}

			p {
				margin-top:15px;
				font-size: 14px;
			}

			.note {
				font-weight: 900;
				font-size: 16px;
			}
		}

		.responsive-carousel {
			.review-box {

				padding: 15px 10px;
				.inner-box {

					padding: 16px;
					border-radius: 8px;
					box-shadow: rgba(0, 0, 0, 0.1) 3px 6px 15px 0px;
					box-sizing: border-box;
					outline: none;
					background:rgb(255, 255, 255);
					height: 100%;

				}
			}
		}
	}

	.carousel-controls {
		text-align: center;
		.carousel-control-prev, .carousel-control-next {
			position: relative;
			display: inline-block;
		}
	}

	.carousel-control-prev, .carousel-control-next {
		top: auto;
		bottom: auto;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		height: 50px;
		width: 50px;
		outline: black;
		background-image: none;

	}

	.carousel-control-next-icon:after
	{
		content: '>';
		font-size: 35px;
		color: #2E5CA9;
	}

	.carousel-control-prev-icon:after {
		content: '<';
		font-size: 35px;
		color: #2E5CA9;
	}

	.container {


		h3 {
			font-size: 18px;
			line-height: 1.2;
			font-weight:normal;
			i {
				margin-left: 15px;
				color:#ef8a77;
			}

			@media screen and  (max-width: 991px) {
				font-size: 30px;
			}
		}

		.title-container {
			.title {
				@media screen and  (max-width: 1199px) {
					text-align:center;
				}
			}
		}

		.open_account_btn {
			margin-left:0px !important;
			background-color:#fff;

			a {
				color:#000;	
			}
			
			border:none;

			@media screen and  (max-width: 1199px) {
				justify-content: center !important;
			}

			@media screen and  (max-width: 414px) {

				a {
					font-size: 15px;
					padding: 0px;
				}
				
			}
			
		}


		.corner-image {
			position: relative;
			
			img {
				position: absolute;
				right: 0px;
				top: -60px;

				@media screen and  (max-width: 991px) {
					width: 50%;
				}

			}
		}

		.box-container {
			position: relative;
			min-height: 208px;
			padding: 50px;
			margin-top: 200px;
			background-color:#2E5CA9;
			border-radius: 64px 0;

			@media screen and  (max-width: 1199px) {
				margin-top: 110px;
			}

			@media screen and  (max-width: 414px) {
				padding: 30px;
			}

			.bodycontent {

				.rating-title {


					
					font-size: 20px;

					i {
						margin-left: 10px;
						color: #FD8371;
					}
					
				}

				h3 {
					color:#fff;
				}

				p {
					color:#fff;
				}

				@media screen and  (max-width: 1199px) {
					margin-top: 50px;
					ul {
						justify-content: center !important;
					}
				}

				@media screen and  (max-width: 414px) {
					margin-top: 20px;
				}

				.nav-item {
					a {
						color:#fff;
					}
				}

				.tab-content {
					.tab-pane {
						color:#fff;
					}
				}
			}


			.image-container {

				@media screen and  (max-width: 1199px) {
					text-align:center;
				}

				.image-wrapper {
					position: absolute;
					margin-top:-85%;
					margin-left: 20px;

					img {
						max-width: 265px;
					}

					@media screen and  (max-width: 1199px) {
						position: relative;
						margin-top: -130px;
						img {
							width: 170px;
						}
					}

					@media screen and  (max-width: 414px) {
						img {
							width: 130px;
						}
					}

				}	
			}
			

			.open_account_btn {
				margin: 20px auto;
				display: block;
				color:#2E5CA9;
			}

			.bio-container {

				span {
					font-size: 18px;
				}

				p {
					margin-top: 15px;
				}
				img {
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}

	}
}