.module4 {

	&.what-we-do {
		margin-top: 50px;

		@media screen and (min-width:768px) {
			.copybox-container .copybox-parent .copybox-child .title h1, .copybox-container .copybox-parent .copybox-child .title h3 {
				font-size: 55px;
			}
		}

		

		.case-study-img {
			height: auto;
		}
	}

	.container {


		.j-bg-letter {
			position: absolute;
			left: -60px;
			bottom: -70px;

			@media screen and (max-width:768px) {
				display: none;
			}
		}

		.u-bg-letter-right {
			position: absolute;
			right: -70px;
			bottom: -20px;

			@media screen and (max-width:768px) {
				display: none;
			}
		}


		.l-bg-letter-right {
			position: absolute;
			left: -60px;
			bottom: -120px;

			@media screen and (max-width:768px) {
				display: none;
			}
		}

		.i-bg-letter-right {
			position: absolute;
			right: -30px;
			bottom: -220px;

			@media screen and (max-width:768px) {
				display: none;
			}
		}

		@media screen and (min-width:414px) {
			height: auto;
		}

		.row:not(:last-child) {
			margin-bottom: 100px;

			@media screen and (max-width:414px) {
				margin-bottom: 40px;
			}

		}

		.case-study-img {

			height: 497px;

			@media screen and (max-width:414px) {
				height: auto;
			}


			&.secondary {
				height: 397px;

				@media screen and (max-width:414px) {
					height: auto;
					margin-bottom: 30px;
				}

			}

			img {

				@media screen and (max-width:414px) {
					width:100%;
				}

			}
		}




		@media screen and (max-width: 991px) {


			.copybox-container .copybox-parent .copybox-child .title h1, .copybox-container .copybox-parent .copybox-child .title h2 {
				color: #000;
				font-size: 23px;
			}

			.copybox-container .copybox-parent .copybox-child p {
				color: #000;
				margin: 0 auto;
				width: 100%;
			}
		}

		@media screen and (max-width: 414px) {
			.copybox-container {
				margin-bottom: 30px;
			}
		}


		.video-container {

		}

		.copybox-container {
			background:transparent;
			padding:0px;

			.copybox-child {
				width:100%;
			}
		}
	}
}