.module8 {
	margin-bottom: 100px;
	background:#ff9984;

	h3 {
		color:#fff;
		margin-bottom: 30px;
	}

	.company-logo {
		color:#fff;
		padding:10px
	}

	.container {
		padding: 80px 0px;
		padding-left:50px;
	}
}